<div class="row">
  <div class="col-12">
    <h2>Welcome, {{ customerData.name }}!</h2>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="firstName" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="mb-3">
      <label for="newpassword" class="form-label">New Password</label>
      <input type="password" class="form-control" id="newpassword" name="newpassword" [(ngModel)]="newPassword" required>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lastName" required>
    </div>
    <div class="mb-3">
      <label for="phonenumber" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="phonenumber" name="phonenumber" [(ngModel)]="phoneNumber" required>
    </div>
    <div class="mb-3">
      <label for="confirmpassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
        [(ngModel)]="confirmPassword" required>
    </div>
  </div>
  <div class="col-12 mb-3">
    <button type="button" class="btn btn-primary btn-sm" (click)="updateProfile()">Update Profile</button>
  </div>
</div>