<div class="row mx-0 mt-3">
    <div class="col-6" *ngIf="isLogin">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <div class="mb-3">
                New customer? <a role="button" class="text-primary" (click)="signUp()">Sign up here.</a>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-outline-secondary btn-sm me-3" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-sm" (click)="login()">Login</button>
            </div>
        </form>
    </div>
    <div class="col-12" *ngIf="!isLogin">
        <app-register (switchToLogin)="switchToLogin($event)"></app-register>
    </div>
</div>